/* styles.css */

/* General styles */
.quiz-container {
    transform: scale(1);
    position: relative;
    top: 0;
}

/* Question heading styles */
.quiz-container h1 {
    /* Add your styles here */
}

/* Answer block styles */
.answer-block {
    padding: 10px;
}

/* Radio button styles */
.answer-block input[type="radio"] {
    transform: scale(1.6);
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -2px;
}

/* Result text styles */
.result-text {
    padding: 5px;
    font-size: 1rem;
}

/* Show answer button styles */
.show-answer-button {
    position: relative;
    color: green;
    background-color: lightblue;
    margin-top: 100px;
    font-size: 2rem;
    border: 3px solid black;
}

/* Hover effect for labels */
label:hover {
    background: rgba(129, 215, 66, 0.8);
    color: #b00;
    transition: all 0.3s;
}

/* Border styles for correct and incorrect answers */
.correct-answer {
    border: 3px solid limegreen;
    color: limegreen;
}

.incorrect-answer {
    border: 3px solid red;
    color: red;
}
